ipykernel==6.15.3
ipython==8.5.0
jupyter-core==4.11.1

numpy==1.23.3
scipy==1.9.1
pandas==1.5.0
openpyxl
lxml==4.9.1

matplotlib==3.6.0
plotly==5.11.0
nbformat
requests

beautifulsoup4==4.11.1
joblib==1.2.0
nptdms==1.6.0
scikit-learn==1.1.2
keras==2.11.0
tensorflow==2.11.0

yapf

papermill==2.4.0
ipywidgets
black